<div class="filter container">
  <div class="row">
    <div class="custom-background">
      <select class="browser-default custom-select">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="d-flex custom-background">
      <input type="date" id="from" class="form-control" style="width: fit-content;"><span
        style="font-style: 32px; font-weight: bolder;margin: 4px;">-</span>
      <input type="date" id="to" class="form-control" style="width: fit-content;">
      <button class="btn btn-custom-1 btn-custom-2">Display</button>
    </div>
  </div>
  <div class="row">
    <div class="d-flex custom-background">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="opened" checked>
        <label class="custom-control-label" for="opened">Opened</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="success" checked>
        <label class="custom-control-label" for="success">Success</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="canceled" checked>
        <label class="custom-control-label" for="canceled">Canceled</label>
      </div>
    </div>
  </div>
</div>