<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <style>
    .accepted-games-container {
      /* padding: 0 24px; */
      display: flex;
      flex-direction: column;
    }

    button#submit {
      width: 72%;
      margin: auto;
    }
  </style>
</head>

<body>
  <div id="phasebeam">
    <canvas width="100%" height="100%"></canvas>
    <canvas width="100%" height="100%"></canvas>
    <canvas width="100%" height="100%"></canvas>
    <%- include('./header') %>
    <div class="page-body">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <%- include('./sidebar') %>
          </div>
          <div class="col">
            <div class="page-content">
              <!-- <div class="user-list" id="user-list"></div> -->
              <h3><strong>Accepted games</strong></h3>
              <p>Please fill in the form below to use advance features of the website!</p>

              <div class="accepted-games-container">
                <div class="container"></div>
              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>

    </div>


    <%- include('./footer') %>

  </div>

  <script type="module" src="/cropper/cropper.js"></script>
  <script type="module">
    import { createGameList } from '/createGameList.js'
    var gameList = JSON.parse('<%- JSON.stringify(gameList)%>')
    console.log('game list: ', gameList)
    if (gameList.length !== 0) {
      gameList.forEach(game => {
        createGameList(game, '.accepted-games-container .container', 'accepted')

      })
    }
  </script>
  <script>

  </script>

</body>

</html>