<style>
  .view {
    height: 64px;
    max-height: 72px;
    padding: 4px;
  }

  .view img {
    height: 95%;
    width: auto;
    margin: auto;
  }
</style>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/bitcoin.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Bitcoin</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/litecoin.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Litecoin</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/dogecoin.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Dogecoin</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/dash.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Dash</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/ethereum.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Ethereum</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/monero.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Monero</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/zcash.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>ZCash</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/nem.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>NEM</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/digibyte.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Digibyte</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/bitcoingold.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Bitcoin gold</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/bitcoincash.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Bitcoin Cash</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/ethereumclassic.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Ethereum Classic</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/bitshares.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>BitShares</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/verge.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Verge</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/qtum.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Qtum</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/stratis.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Stratis</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/ripple.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Ripple</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/eos.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Eos</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/usdcoin.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>USD coin</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/trueus.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Some method</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/paxos.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Paxos Standard Token</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/tether.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Tether</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/chainlink.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Chain link</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/omisego.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>OmiseGO</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/bat.jpg" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Basic Attention Token</p>
  </div>
</div>

<div class="card mb-2 mr-4" style="width: 25%;">
  <div class="view overlay d-flex">
    <img class="card-img-top" src="/coinImages/tron.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Tron</p>
  </div>
</div>