<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <style>

  </style>
</head>

<body>
  <div id="phasebeam">
    <canvas width="100%" height="100%"></canvas>
    <canvas width="100%" height="100%"></canvas>
    <canvas width="100%" height="100%"></canvas>
    <%- include('./header') %>
    <div class="page-body">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <%- include('./sidebar') %>
          </div>
          <div class="col">
            <div class="page-content custom-background-dark">
              <!-- <div class="user-list" id="user-list"></div> -->
              <h3><strong>Deposit</strong></h3>
              <p style="margin: 0;">Your currency is mBT</p style="margin: 0;">
              <p>To add or delete accounts by another currencies, please visit Profile settings</p>
              <p>Choose method to deposit:</p>
              <div class="container">
                <div class="row">
                  <div class="col-3">
                    <button class="btn btn-full-width btn-dark-green">All methods</button>
                  </div>
                  <div class="col">
                    <div class="method-container" style="background-color: black; padding: 2% 5%;">
                      <div class="method-header d-flex">
                        <p style="margin: 1rem 3rem 1rem 0;">Ecoin</p>
                        <button class="btn btn-danger btn-sm">Buy Ecoin</button>
                      </div>
                      <div class="method d-flex flex-wrap"></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>

    </div>

    <%- include('./footer') %>

  </div>

  <script type="module" src="/cropper/cropper.js"></script>
  <script>
    const card = `
    <!-- Card -->
    <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
      alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="padding: 0; background-color: #2E2E2E;">
    <p>Some method</p>
  </div>
<!-- Card -->`
    for (var i = 0; i <= 15; i++) {
      var div = document.createElement('div')
      div.className = 'card mb-2 mr-4'
      div.style.width = '8rem'
      div.innerHTML = card
      document.querySelector('.method').appendChild(div)
    }
  </script>

</body>

</html>