<style>
  .favorite-container i {
    font-size: 24px;
  }
</style>

<div class="form-detail favorite-container d-flex flex-wrap">
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-basketball-ball'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-bowling-ball'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-dumbbell'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-football-ball'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-futbol'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-golf-ball'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-hockey-puck'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-quidditch'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-skating'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-skiing'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-skiing-nordic'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-snowboarding'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-table-tennis'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-volleyball-ball'></i></div>

  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-basketball-ball'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-bowling-ball'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-dumbbell'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-football-ball'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-futbol'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-golf-ball'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-hockey-puck'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-quidditch'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-skating'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-skiing'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-skiing-nordic'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-snowboarding'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-table-tennis'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-volleyball-ball'></i></div>

  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-basketball-ball'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-bowling-ball'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-dumbbell'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-football-ball'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-futbol'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-golf-ball'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-hockey-puck'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-quidditch'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-skating'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-skiing'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-skiing-nordic'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-snowboarding'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-table-tennis'></i></div>
  <div class="icon-container mb-2 mr-4 mt-2 favorite"><i class='fas fa-volleyball-ball'></i></div>
</div>

