<!-- <div class="container favorite-container d-flex flex-wrap">
</div> -->

<script>
  // for (var i = 0; i < 70; i++) {
  //   var img = document.createElement('img')
  //   img.src = 'https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg'
  //   img.className = 'mb-4 mr-4 favorite'
  //   img.style.width = '40px'
  //   img.style.height = '40px'
  //   document.querySelector('div.favorite-container-1').appendChild(img)
  // }

  for (var i = 0; i < 50; i++) {
    var img = document.createElement('img')
    img.src = 'https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg'
    img.className = 'mb-4 mr-4 favorite'
    img.style.width = '40px'
    img.style.height = '40px'
    console.log('abc: ', document.querySelector('div.favorite-container-1'))
    document.querySelector('div.favorite-container-2').appendChild(img)
  }

  document.querySelectorAll('.favorite-container-1 img, .favorite-container-2 img').forEach(element => {
    element.addEventListener('click', (event) => {
      element.classList.contains('clicked') === false ? element.classList.add('clicked') : element.classList.remove('clicked')
      console.log('is contain: ', element.classList.contains('clicked'))

    })
  })
</script>