<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    a {
      font-size: 18px;
    }

    div.login-dropdown {
      width: 260px;
      padding: 16px 8px;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
      background-color: #333;
    }

    .dropdown:hover .dropdown-menu {
      display: block;
      margin: 0;
    }

    div.carousel {
      height: 50vh;
    }

    div.carousel .carousel-item {
      height: 50vh;
    }

    .page-content {
      min-height: 200px;
      padding: 32px 64px;
    }

    .card,
    .card-text {
      background-color: transparent !important;
      color: white !important;
    }

    .scroll {
      background-color: black;
      transition: all 0.6s ease-in-out;
    }

    .card {
      border: 16px solid black !important;
    }

    .card-body {
      background: rgba(0, 0, 0, 0.6);
    }

    .col {
      padding: 0 4px !important;
    }
  </style>
</head>

<body>
  <div id="phasebeam">
    <canvas width="100%" height="100%"></canvas>
    <canvas width="100%" height="100%"></canvas>
    <canvas width="100%" height="100%"></canvas>
    <%- include('./header') %>
    <%- include('./slider') %>
    <div class="page-content">
      <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-4">
          <!-- Card -->
          <div class="card" id="realgame.html">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-md btn-primary play">Play</button>

            </div>

          </div>
          <!-- Card -->
        </div>
        <div class="col mb-4">
          <!-- Card -->
          <div class="card" id="realgame.html">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-md btn-primary play">Play</button>

            </div>

          </div>
          <!-- Card -->
        </div>
        <div class="col mb-4">
          <!-- Card -->
          <div class="card" id="game_name_3.html">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-md btn-primary play">Play</button>

            </div>

          </div>
          <!-- Card -->
        </div>
        <div class="col mb-4">
          <!-- Card -->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-md btn-primary play">Play</button>

            </div>

          </div>
          <!-- Card -->
        </div>
        <div class="col mb-4">
          <!-- Card -->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-md btn-primary play">Play</button>

            </div>

          </div>
          <!-- Card -->
        </div>
        <div class="col mb-4">
          <!-- Card -->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-md btn-primary play">Play</button>

            </div>

          </div>
          <!-- Card -->
        </div>
      </div>
    </div>
    <%- include('./footer') %>

  </div>

  <script>
    if (window.localStorage.getItem('accessToken')) {
      $.ajax({
        type: 'POST',
        url: '/checkAccessToken',
        contentType: 'application/json',
        data: JSON.stringify({
          accessToken: window.localStorage.getItem('accessToken')
        }),
        success: result => {
          console.log('result: ', result)
          if (!result.isExisted) {
            window.localStorage.clear()
            window.location.reload()
          }
        }
      })
    }

  </script>

  <script>
    document.querySelectorAll('button.play').forEach(element => {
      element.addEventListener('click', (event) => {
        var game = event.target.closest('.card').id
        window.location.href = `/game?game=${game}`
        // $.ajax({
        //   type: 'POST',
        //   url: '/game',
        //   contentType: 'application/json',
        //   data: JSON.stringify({
        //     gameUrl: gameUrl
        //   }),
        //   success: result => {
        //     console.log('result: ', result)
        //   }
        // })
      })
    })
  </script>

</body>

</html>