<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    a {
      font-size: 18px;
    }

    div.login-dropdown {
      width: 260px;
      padding: 16px 8px;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
      background-color: #333;
    }

    .dropdown:hover .dropdown-menu {
      display: block;
      margin: 0;
    }

    div.carousel {
      height: 50vh;
    }

    div.carousel .carousel-item {
      height: 50vh;
    }

    .page-content {
      min-height: 200px;
      padding: 32px 64px;
    }

    .card,
    .card-text {
      background-color: transparent !important;
      color: white !important;
    }

    .scroll {
      background-color: black;
      transition: all 0.6s ease-in-out;
    }

    .card {
      border: 12px solid #404040 !important;
    }

    .card-body {
      background: #212121;
    }

    .col {
      padding: 0 4px !important;
    }
  </style>
</head>

<body>
  <div id="phasebeam">
    <canvas width="100%" height="100%"></canvas>
    <canvas width="100%" height="100%"></canvas>
    <canvas width="100%" height="100%"></canvas>
    <%- include('./header') %>
    <%- include('./slider') %>
    <div class="page-content">
      <div class="row row-cols-1 row-cols-md-4 game-list-container">
       
      </div>
    </div>
    <%- include('./footer') %>

  </div>

  <script>
    if (window.localStorage.getItem('accessToken')) {
      $.ajax({
        type: 'POST',
        url: '/checkAccessToken',
        contentType: 'application/json',
        data: JSON.stringify({
          accessToken: window.localStorage.getItem('accessToken')
        }),
        success: result => {
          console.log('result: ', result)
          if (!result.isExisted) {
            window.localStorage.clear()
            window.location.reload()
          }
        }
      })
    }

  </script>

  <script type="module">
    import {createGameList} from './createGameList.js'

    var gameList = JSON.parse('<%- JSON.stringify(gameList)%>')
    console.log('game list: ', gameList)
    if(gameList.length !==0){
      gameList.forEach(game => {
        createGameList(game, 'div.game-list-container')
        
      });
    }

  </script>

</body>

</html>