<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <style>
    .accepted-games-container {
      /* padding: 0 24px; */
      display: flex;
      flex-direction: column;
    }

    button#submit {
      width: 72%;
      margin: auto;
    }
  </style>
</head>

<body>
  <div id="phasebeam">
    <canvas width="100%" height="100%"></canvas>
    <canvas width="100%" height="100%"></canvas>
    <canvas width="100%" height="100%"></canvas>
    <%- include('./header') %>
    <div class="page-body">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <%- include('./sidebar') %>
          </div>
          <div class="col">
            <div class="page-content">
              <!-- <div class="user-list" id="user-list"></div> -->
              <h3><strong>Submitting games</strong></h3>
              <p>Please fill in the form below to use advance features of the website!</p>

              <div class="accepted-games-container">
                <div class="container"></div>
                <button class="btn btn-custom-1 btn-full-width" id="submit">Submit game</button>

              </div>
              <!-- Central Modal Small -->
              <div class="modal fade" id="centralModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">

                <!-- Change class .modal-sm to change the size of the modal -->
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title w-100" id="myModalLabel">Submit game</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group row">
                        <!-- Material input -->
                        <label for="gameName" class="col-sm-2 col-form-label">Game name</label>
                        <div class="col-sm-10">
                          <div class="md-form mt-0 input-with-icon">
                            <input type="text" class="form-control" id="name">
                          </div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <!-- Material input -->
                        <label for="gameURL" class="col-sm-2 col-form-label">Game URL</label>
                        <div class="col-sm-10">
                          <div class="md-form mt-0 input-with-icon">
                            <input type="text" class="form-control" id="url">
                          </div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="avatar" class="col-sm-2 col-form-label">Game image</label>
                        <div class="col-sm-10">
                          <div class="md-form mt-0" style="padding:0 32px;">
                            <cropper-wc title="abc" id="avatar"></cropper-wc>

                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-blue-grey btn-sm" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-custom-1 btn-sm" id="save">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Central Modal Small -->

            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>

    </div>


    <%- include('./footer') %>

  </div>

  <script type="module" src="/cropper/cropper.js"></script>
  <script type="module">
    import { createGameList } from '/createGameList.js'
    var gameList = JSON.parse('<%- JSON.stringify(gameList)%>')
    console.log('game list: ', gameList)
    if (gameList.length !== 0) {
      gameList.forEach(game => {
        createGameList(game, '.accepted-games-container .container', 'submitting')

      })
    }
  </script>
  <script>

  </script>
  <script>
    document.querySelector('button#submit').addEventListener('click', (event) => {
      $('#centralModal').modal('show')

    })
    document.querySelector('button#save').addEventListener('click', (event) => {
      var obj = {}
      obj.image = document.querySelector('cropper-wc').getImageData()
      obj.userId = window.localStorage.getItem('userId')
      document.querySelectorAll('div#centralModal .modal-body input').forEach(element => {
        obj[element.id] = element.value
      })
      console.log('obj: ', obj)
      $.ajax({
        type: 'POST',
        url: '/management/games/submitting',
        contentType: 'application/json',
        data: JSON.stringify(obj),
        success: result => {
          console.log('result: ', result)
          window.location.reload()
        }
      })
    })
  </script>
  <script>

  </script>

</body>

</html>