<div class="filter container">
  <div class="row">
    <div class="custom-background">
      <select class="browser-default custom-select">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="d-flex custom-background">
      <input type="date" id="from" class="form-control" style="width: fit-content;"><span
        style="font-style: 32px; font-weight: bolder;margin: 4px;">-</span>
      <input type="date" id="to" class="form-control" style="width: fit-content;">
      <button class="btn btn-custom-1 btn-custom-2">Display</button>
    </div>
  </div>
  <div class="row">
    <div class="d-flex custom-background">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="toto-15" checked>
        <label class="custom-control-label" for="toto-15">Toto-15</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="absolute-ratio" checked>
        <label class="custom-control-label" for="absolute-ratio">Absolute ratio</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="soccer" checked>
        <label class="custom-control-label" for="soccer">Soccer</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="ice-hockey" checked>
        <label class="custom-control-label" for="ice-hockey">Ice hockey</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="basketball" checked>
        <label class="custom-control-label" for="basketball">Basketball</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="eSport-fifa" checked>
        <label class="custom-control-label" for="eSport-fifa">eSport fifa</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="1xToto" checked>
        <label class="custom-control-label" for="1xToto">1xToto</label>
      </div>
    </div>
    <div class="d-flex custom-background">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="unpaid">
        <label class="custom-control-label" for="unpaid">Unpaid</label>
      </div>
    </div>
    <div class="d-flex custom-background">
      <button class="btn btn-elegant dropdown-toggle btn-custom-2" type="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Bet time</button>

      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Bet time</a>
        <a class="dropdown-item" href="#">Bet rate</a>
        <a class="dropdown-item" href="#">Bet</a>
        <a class="dropdown-item" href="#">Some Russian string</a>
      </div>
    </div>
  </div>
</div>