body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.cropper-bg{
  width: 75% !important;
  height: 160px !important;
}

.cropper-crop-box{
  width: 160px !important;
  height: 80px !important;
  transform: translateX(42px) translateY(37.7px) !important;
}
